

body{
    background-color: #F9F3F0!important;
}

.primary-color{
    background-color: #9594D3;
}

.content-profile{
    margin-top: 20px!important;
}

.footer-of-page {
    position: fixed;
    height: 66px;
    left: 0;
    bottom: 0;
    background-color: #9594D3;
    color: white;
    text-align: center;
    width: 100%;
    
}

  .content-sections{
    margin-top: 30px!important;
  }

 
  
  